# IDEs
.vscode/
.idea/

# Intermediate Coverage file
.coverage

# Output files
*.png

# Python runtime
*.pyc
*.egg-info
.pytest_cache

# Virtual Environments
venv/
.venv/

# jupyter notebooks
*.ipynb

#egg
inflammation_analysis.egg-info

#example yml
example_yml.yml